body{
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color:  #E6E2E6;
}
nav{
    background-color: #84C69B;
}
.main{
    margin-top: 100px;
    max-width: 85%;
    width: 60%;
}
.top-add{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.top-add-p{
    background-color: white;
    margin-top: 20px;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
}
.form{
    background-color: white;
    padding: 30px 30px 20px 30px;
    border-bottom: solid grey 0.5px;
    margin-top: 15px;
    border-radius: 10px ;
}
.form p{
    margin-bottom: 25px;
}
.form select{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    border: 1px solid #ccc;
    appearance: none;
}
.form input[type="date"] {
    width: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    color: grey;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.bottom{
    margin-bottom: 30px;
}
.bottom button{
    width: 150px;
    padding: 10px;
    margin-left: 50%;
    border: 1px solid #ccc;
    color: black;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    /* background-color: white; */
}